:root{
  --header:#e5e3dc;
  --primary: #aeaca5;
  --secondary: #005b48;
  --tertiary: #faf1ca;
  --text-color-light: white;
  --text-color-dark: black;
}

/* #e5e3dc */
html, body{
  max-width: 100%;
  overflow-x: hidden;
  font-family: 14px / 18px Clarkson, Proxima Nova, Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  flex-wrap:wrap;
  background-color: var(--primary);
  color: var(--text-color-dark);
}
.offset{
  background-color: var(--secondary);
  color: var(--text-color-light)
}
img {
  max-width: 100%;
  height:auto;
}

p {
  max-width: 80ch;
  line-height:1.8;
  font-size: 24px;
  text-align:left;
}
span {
  font-size:16px;
}
h1 {
  font-size:40px
}
h2{
  font-size:32px;
}
h3 {
  font-size: 26px;
}
textarea{
  font-family: inherit;
  font-size:14px;
}
.block-button {
  display:block;
  width:20%;
  font-size: 16px;
  padding:15px;
  text-align:center;
  border:none;
  background-color: var(--secondary);
  color: var(--text-color-light);
  transition: background 0.3s ease-in-out;
}
.block-button:hover{
  background-color: var(--tertiary);
  color: var(--text-color-dark);
  cursor: pointer;
}
.block-button-offset{
  background-color: var(--primary);
  color: var(--text-color-dark);
}
.border-button{
  padding: 10px 20px;
  border: 2px solid var(--secondary);
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.border-button:hover{
  background-color: var(--secondary);
  color:white;
}
.white_text{
  color: white;
}
.white_img{
  filter: invert(100%);
}
.home{
  width:100%;
  height:100%;
  position:static;
  display:block;
}
.background{
  width:100%;
  height:100%;
  position: absolute;
  animation: fadeOut 1.4s ease forwards;

}
.introImage{
  width: 14%;
  height: 14%;
  position: absolute;
  object-fit: contain;
  top: 43%;
  left: 43%;
  z-index: 2;
  filter: invert(100%);
  animation: fadeInOut 1.4s ease-in forwards;
}

.introGIF{
  position:absolute;
  width:100%;
  height:100%;
  object-fit: contain;
  background-color: black;
  z-index: 1;
  animation: fadeInOut 1s ease-in forwards;
}
.header-container{
  scroll-snap-align: start;
  position: relative;
  color:black;
  background-color: var(--header);
  display: flex;
  width:100%;
  height:10%;
  align-content:center;
  justify-content: space-between;
  font-weight: 500;
  letter-spacing: 1.5px;
  z-index:5;
  transition: transform 0.3s ease-in-out; /* Smooth slide-up effect */
}
.header-left{
  display:flex;
  align-items: center;
  margin-left: 5%;
}
.header-middle{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  display:flex;
  flex-direction: row;
  gap:30px;
}
.header-right{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-right:5%;
  gap: 30px;
}
.header-button{
  display:inline-block;
  padding: 10px 10px;
  background-color: transparent;
  border: 2px solid var(--secondary);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  user-select: none;
}
.header-button:hover{
  background-color: var(--secondary);
  color:white;
}
.modal{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 110%; /* Position below the trigger link */
  background-color: var(--header);
  color: black;
  padding: 20px 30px;
  border: 1px solid var(--header);
  width: 60%; 
  height: 40vh;
  z-index: 1000;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out; /* Smooth transition */
}
.modal.fade-in{
  animation: modalFadeIn 0.5s ease-in-out forwards;
}
.modal.fade-out{
  animation: modalFadeOut 0.5s ease-in-out forwards;
}
.modal-model-container{
  display:flex;
  flex-direction: row;
  height:100%;
}
.modal-model-text{
  display:flex;
  flex-direction: column;
  width:30%;
  height:100%;
  margin:0px;
  align-items: center;
  justify-content: space-evenly;
  border-right: 1px solid black;
}
.modal-model-image-container{
  width:70%;
  height:auto;
  overflow: hidden;
  margin-bottom: 20px;
}
.modal-model-image{
  padding-left: 30px;
  padding-right: 30px;
  padding-top : 30px;
  object-fit: fill;
}
.modal-close{
  font-size: 18px;
  position: absolute;
  font-weight: 500;
  right: 0.5%;
  top: 1%;
}
.modal-close:hover{
  text-decoration: underline;
  cursor:pointer;
}
.modal-card{
  height: 100%;
  text-align:center;
  display:flex;
  flex-direction: column;
}
.modal-card-image{
  height:20%;
  object-fit: contain;
}
.modal-card-info{

}
.modal-card-info:hover{
  text-decoration: underline;
  cursor:pointer;
}
.header-logo{
  height:auto;
  width:8em;
  cursor: pointer;
}
.span-button{
  display: inline-block; 
  position: relative; 
  text-decoration: none; 
  text-align: center;
  cursor: pointer; 
}
.span-button::after{
  content: '';
  position: absolute;
  bottom: -5px; 
  left: 0;
  width: 0; 
  height: 2px;
  background-color: black; 
  transition: width 0.3s ease-in-out; 
}
.span-button:hover::after{
  width: 100%; 
}

.homepage-container{
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  width:100%;
  height:100vh;
}
.first-container{
  position:relative;
  scroll-snap-align: start;
  width:100%;
  height: 90%;
  display:flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.overlay-card{
  position: absolute;
  font-weight: 600;
  width: 400px;
  height: 75px;
  gap: 10px;
  display:flex;
  flex-direction: column;
  top: 20%;
  z-index:4;
}
.overlay-button-container{
  display:flex;
  justify-content: center;
  margin: 20px 0;
  gap: 5px;
}
.overlay-button{
  width: 200px;
  height:50px;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:black;
  font-weight: 500;
  border: 2px solid grey;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}
.overlay-button:hover{
  background-color: lightblue;
}
.carousel{
  align-self:flex-start;
  width: 90%;
  height:100%;
  margin:5%;
  overflow: hidden;
}
.carousel-img{
  width:100%;
  height:auto;
  max-height:100%;
  max-width: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
.carousel-img.fade-out {
  opacity: 0;
}
.hero-container{
  align-self:flex-start;
  z-index:2;
  width: 100%;
  height:90%;
  margin-left:5%;
  margin-right: 5%;
}
.background-img-container{
  position: absolute;
  z-index:1;
}
.background-img-container::before{
  width:100%;
  height:100%;
  content:'';
  position:absolute;
  background:linear-gradient(to bottom, var(--header) 10%, transparent 17.5%);
  z-index:2;
  pointer-events: none;
}
.background-img-container img{
  z-index:1;
  width:100%;
  height:100%;
  object-fit: cover;
  position: relative;
  filter:blur(10px);
}
.hero-img{
  width:100%;
  height:100%;
  object-fit: cover;
}
.carousel-overlay-container{
  position:absolute;
  top:20%;
  right:10%;
  display:flex;
  flex-direction: row;
}

.carousel-button{
  top:50%;
  transform:translateY(-50%);
  background: transparent;
  width:50px;
  height:50px;
  font-size:32px;
  font-weight: 800;
  color:white;
  border:none;
  padding:10px;
  cursor: pointer;
}
.carousel-button:hover{
  color:var(--primary)
}
.carousel-overlay{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  top: 20%;
  left:10%;
  width:20%;
  gap:30px;
  position: absolute;
}
.carousel-overlay-text{
  color: white;
  font-weight:600;
}
.carousel-overlay-header{
  font-size: 40px;
  font-weight:700;
}
.carousel-overlay-button{
  width:50%;
}
.homepage-content{
  position:absolute;
  z-index:2
}
.fixed-container{
  scroll-snap-align: start;
  position:relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
  padding:20px;
}
.loose-container{
  scroll-snap-align: start;
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;
}
.centered-text-card{
  position: relative;
  margin:40px;
  display: flex;
  flex-direction: column;
  align-items:center;
  gap:10px;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  width:100%;
}
.side-by-side-container{
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
}
.side-by-side-image{
  padding: 40px;
}
.side-by-side-text{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 33%;
}
.homepage-img-card{
  width:40%;
  height:20%;
  object-fit: scale-down;

}
.homepage-text-card h1{
  font-weight: 550;
}

.homepage-text-header-card{
  height:80%;
  width:100%;
  position: absolute;
  bottom:0;
  display:flex;
  flex-direction:column;
  align-items: center;
}
.testdrive-car-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width:100%;
  flex-wrap: wrap;
}
.testdrive-card{
  height: 150px;
  width: 150px;
  padding:10px;
  text-align:center;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}
.testdrive-card.highlighted{
  background-color: var(--tertiary);
  border-color:yellow;
}
.testdrive-card-image{
  width:100%;
  height:80%;
  object-fit: contain;
}
.about-subcontainer{
  display:flex;
  flex-direction: column;
  gap:100px;
}
.about-container{
  scroll-snap-type: y-mandatory;
  overflow-y: auto;
  width:100%;
  height:100vh;
}
.about-grid-container {
  width:100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  justify-content: space-around;
  overflow-x:hidden;
  padding: 20px;
}
.about-header-card{
  scroll-snap-align: start;
  position:relative;
  width:100%;
  height:50%;
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align:center
}
.about-filler{
  width:100%;
  height:40%;
  position: relative;
}
.about-img-card{
  width:100%;
  height:100%;
  object-fit: fill;
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  z-index:0;
}
.about-overlay-card{
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align:center
}
.about-overlay{
  position: absolute;
  width: 400px;
  height: 50%;
  gap: 10px;
  display:flex;
  flex-direction: column;
  top: 50%;
  z-index:2;
  color:white;
}
.about-card{
  display:flex;
  width:100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center;
}
.about-card-three{
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap:0px;
  width:100%;
  flex-wrap:wrap; 
}
.about-card-three-card{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center;
  gap:10px;
  width:30%;
}
.about-card-three-card > p{
  position: relative;
  left:5%;
}
.about-card-three-card > h3{
  position: relative;
  top:2%;
}
.about-card-three-card-img{
  height:60%;
  width:90%;
}
.grid-card {
  display:flex;
  flex-direction: column;
  padding: 20px;
  gap:40px;
  text-align: center;
}
.grid-card-img{
  width:300px;
  height:350px;
}
.grid-card-info{
  display:flex;
  flex-direction: column;
  gap: 15px;
}
.grid-card-info-name{
  font-size:20px;
  font-weight:600px;
}
.grid-office-card{
  display:grid;
  grid-template-columns: 1fr 1fr;
  width:100%;
}
.grid-office-info-card{
  flex: 1;
}
.grid-office-img-card{
  flex: 1;
  object-fit: contain;
  max-width: 50%;
}
.request-form {
  width: 50%;
  margin: 20px auto;
}

.request-form > h2 {
  font-weight: 500;
  margin: 20px auto;
}
.request-form-group {
  position: relative;
  margin-bottom: 20px;
}
.request-form-radio-group {
  width:100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.request-form-radio-group-card {
  width:30%;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.request-form-radio-group-card-radio {
  display:flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.lined-input{
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  padding: 10px 10px;
  margin:20px 0px;
  background: none;
}

.boxed-input {
  width:100%;
  border: 2px solid grey;
  border-radius: 4px;
  padding: 10px;
  outline: none;
  width: 100%;
  box-sizing: border-box; 
  background-color: transparent;
}
.request-form-group >input:focus {
  border-bottom: 2px solid var(--tertiary);
}

.request-form-group > label {
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  pointer-events: none;
  transition: 0.3s ease;
}
.request-form > button {
  width: 20%;
  padding: 10px;
  margin-top: 40px;
  float:right;
  background-color: var(--secondary);
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}
.request-form > button:hover {
  background-color: var(--tertiary);
  color:black;
}
.request-form-radio-group-card-label{
  margin:5px 10px;
}
input[type='radio']{
  margin-right:5px;
  accent-color: var(--tertiary);
}

.accordion {
  width: 65%;
  margin: 0 auto;
  border-top: 2px solid black;
  overflow: hidden;
}

.accordion-item {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid black;
  cursor: pointer;
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-title {
  flex: 1;
  text-align: left;
}

.accordion-icon {
  flex: 0;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
}
.accordion-content > p {
  position: relative;
  bottom:20px;
}
.accordion-content.show {
  max-height: 100px; /* Adjust based on your content height */
}

.footer {
  position: relative;
  width: 100%;
  text-align: center; 
  display:flex;
  flex-direction: column;
  z-index:1;
}
.footer-top{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  width:80%;
  margin:0 auto;
  gap:40px;
  margin-top:100px;
  margin-bottom:15px;
  padding-top:30px;
}
.footer-bottom{
 display:flex;
 flex-direction: row; 
 margin: 0 auto;
 width:80%;
 padding-bottom:40px;
}
.footer-bottom-menu{
  display:flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  gap:5px;
}
.footer-bottom-menu > h2{
  text-align: left;
}
.footer-bottom-menu-container{
  display:flex;
  flex-direction: column;
  gap:20px;
}
.footer-logo-img{
  width:45px;
  height:67.5px;
  cursor: pointer;
}
.footer-icons{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-bottom:40px;
}
.footer-icon-img{
  width:24px;
  height:24px;
  cursor: pointer;
}

.footer-copyright {
  width:80%;
  margin:0 auto;
  padding:10px;
  color: #555; 
}

.header-filler{
  display:flex;
  position: static;
  height:20vh;
  align-items: center;
  justify-content: center;
}
.request-form > h2{
  text-align: center;
}

@keyframes modalFadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@keyframes modalFadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@keyframes fadeOut{
  0%{
    background-color: black;
  }
  95.33% {
    background-color: black;
  }
  100%{
    background-color: transparent;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
