
body, html{
  overflow-x: hidden;
  font-family: Inter;
}

p {
  max-width: 80ch;
  line-height:1.8;
  font-size: 20px;
}

.home{
  width: 100vw;
  height:100vh;
  position:relative;
  display:block;
}

.background{
  width:100vw;
  height:100vh;
  position: absolute;
  animation: fadeOut 3.1s ease forwards;
  
}
.introImage{
  width: 200px;
  height: 200px;
  position: absolute;
  object-fit: contain;
  transform: translate(-50%, -50%);
  top: 50%;
  left:50%;
  z-index: 2;
  filter: invert(100%);
  animation: fadeInOut 1.5s ease-in forwards;
}

.introGIF{
  position:absolute;
  width:100%;
  height:100%;
  object-fit: contain;
  background-color: black;
  z-index: 1;
  animation: fadeInOut 1s ease-in forwards;
}

.header{
  position: absolute;
  top: 0;
  display: flex;
  box-sizing:border-box;
  overflow: hidden;
  padding: 0 20px;
  margin: 5px;
  width: 100%;
  height: 125px;
  align-items:center;
  justify-content:space-between;
  z-index:3;
  font-weight: bold;
}
.header-logo{
  max-width: 100%;
  max-height:100%;
  object-fit: cover;
}
.span-button{
  transition: text-decoration 0.3s ease;
}
.span-button:hover{
  text-decoration: underline;
  cursor:pointer;
}
.header-left{
  padding: 50px;
  display:flex;
  margin-right:auto;
  gap: 40px;
}
.header-right{
  padding: 50px;
  display:flex;
  margin-left:auto;
  gap: 40px;
}
.homepage-container{
  scroll-snap-type: y-mandatory;
  overflow-y: scroll;
  height:100vh;
}
.homepage-card{
  scroll-snap-align: start;
  position:relative;
  width:100%;
  height:100vh;
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align:center
}
.homepage-img{
  width:100%;
  object-fit: fill;
}
.homepage-content{
  position:absolute;
  z-index:2
}
.homepage-text-card{
  display: flex;
  flex-direction: column;
  align-items:center;
  gap:10px;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.homepage-text-card h1{
  font-weight: 550; 
}
@keyframes fadeOut{
  0%{
    background-color: black;
  }
  95.33% {
    background-color: black;
  }
  100%{
    background-color: transparent;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0; 
  }
}