
html, body{
  max-width: 100%;
  overflow-x: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  max-width: 80ch;
  line-height:1.8;
  font-size: 20px;
}
.test{
  height:2000px;
}
.home{
  width:100vw;
  height:100vh;
  position:static;
  display:block;
}
.background{
  width:100vw;
  height:100vh;
  position: absolute;
  animation: fadeOut 3.1s ease forwards;

}
.introImage{
  width: 200px;
  height: 200px;
  position: absolute;
  object-fit: contain;
  transform: translate(-50%, -50%);
  top: 50%;
  left:50%;
  z-index: 2;
  filter: invert(100%);
  animation: fadeInOut 1.5s ease-in forwards;
}

.introGIF{
  position:absolute;
  width:100vw;
  height:100vh;
  object-fit: contain;
  background-color: black;
  z-index: 1;
  animation: fadeInOut 1s ease-in forwards;
}
.header-container{
  width:100%;
}
.header{
  position: fixed;
  top: 0;
  display: inline-flex;
  width: 100vw;
  height: 20%;
  align-items:center;
  justify-content:center;
  text-align: center;
  align-content: center;
  z-index:3;
  font-weight: 500;
  font-size: 14px;
  transition: transform 0.3s ease-in-out; /* Smooth slide-up effect */
}
.header-bg-modal-open{
  background-color: white;
}
.header-scrolled{
  background: linear-gradient(60deg, #74b8e6, #16202e);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow for fixed state */
}
.modal{
  position: absolute;
  top: 20%;
  left:0;
  width:100vw;
  height:20%;
  opacity:0;
  background-color: white;
  color: black;
  display:flex;
  flex-direction: column;
  z-index:3;
  animation: modalFadeIn 0.5s ease-out forwards;
}

.modal-car-container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  width:100%;
  flex-wrap: wrap;
}
.modal-close{
  position: absolute;
  font-weight: 500;
  right: 50px;
}
.modal-close:hover{
  text-decoration: underline;
  cursor:pointer;
}
.modal-card{
  height: 100%;
  width: 30%;
  border-radius: 8px;
  padding:10px;
  text-align:center;
}
.modal-card-image{
  width:100%;
  height:20%;
  object-fit: contain;
  cursor: pointer;
}
.modal-card-info{
  font-weight: 600;
}
.modal-card-info:hover{
  text-decoration: underline;
  cursor:pointer;
}
.header-logo{
  height:auto;
  width:5em;
  cursor: pointer;
}
.span-button{
  transition: text-decoration 0.3s ease;
}
.span-button:hover{
  text-decoration: underline;
  cursor:pointer;
}
.header-middle{
  padding: 20px;
  display:inline-flex;
  flex-direction: row;
  align-items:center;
  gap: 50px;
}
.homepage-container{
  scroll-snap-type: y-mandatory;
  overflow-y: auto;
  width:100%;
  height:100vh;
}
.homepage-card{
  scroll-snap-align: start;
  position:relative;
  width:100%;
  height:100%;
  background-size:cover;
  background-position:center;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align:center
}
.overlay-card{
  position: absolute;
  font-weight: 600;
  font-size: 40px;
  width: 400px;
  height: 75px;
  gap: 10px;
  display:flex;
  flex-direction: column;
  top: 150px;
}
.overlay-button-container{
  display:flex;
  justify-content: center;
  margin: 20px 0;
  gap: 5px;
}
.overlay-button{
  width: 200px;
  height:50px;
  justify-content: center;
  align-items: center;
  background-color: #679ee0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:black;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.homepage-img{
  width:100%;
  object-fit: fill;
}
.homepage-content{
  position:absolute;
  z-index:2
}
.homepage-text-card{
  display: flex;
  flex-direction: column;
  align-items:center;
  gap:10px;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.homepage-img-card{
  width:40%;
  height:20%;
  object-fit: scale-down;
}
.homepage-text-card h1{
  font-weight: 550;
}

.homepage-text-header-card{
  height:80%;
  width:100%;
  position: absolute;
  bottom:0;
  display:flex;
  flex-direction:column;
  align-items: center;
}
.testdrive-car-container{
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width:100%;
  flex-wrap: wrap;
}
.testdrive-card{
  height: 150px;
  width: 150px;
  border-radius: 8px;
  padding:10px;
  text-align:center;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}
.testdrive-card.highlighted{
  background-color: lightblue;
  border-color:blue;
}
.testdrive-card-image{
  width:100%;
  height:80%;
  object-fit: contain;
}

.about-container{
  scroll-snap-type: y-mandatory;
  background: linear-gradient(60deg, #74b8e6, #16202e);
  overflow-y: auto;
  width:100%;
  height:100vh;
}
.about-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(2, auto); /* 2 rows */
  gap: 20px; /* Space between cards */
  padding: 20px;
}

.grid-card {
  background-color: transparent;
  padding: 20px;
  text-align: center;
}
@keyframes modalFadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes fadeOut{
  0%{
    background-color: black;
  }
  95.33% {
    background-color: black;
  }
  100%{
    background-color: transparent;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
